@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

.hover\:pause-scroll:hover {
  animation-play-state: paused;
}

.scroll-touch {
  -webkit-overflow-scrolling: touch;
}

.scroll-touch::-webkit-scrollbar {
  display: none;
}


.plus-jakarta-sans-thin {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
